.grid-skills {
	margin-inline: auto;
	margin-block: 3em;
	grid-auto-rows: 1fr;
}

.grid-item {
	display: flex;
	gap: 7px;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
}

.grid-skills {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	grid-template-rows: repeat(1, 1fr);
	overflow: hidden;
	gap: 0.5rem;
}

.grid-item {
	position: relative;
}

.grid-item::before,
.grid-item::after {
	content: '';
	position: absolute;
	background-color: #2b2829;
	z-index: 1;
}

.grid-item::after {
	block-size: 2px;
	inline-size: 100vw;
	inset-inline-start: 5px;
	inset-block-start: calc(calc(0.5rem / 2) * -1);
}

.grid-item::before {
	inline-size: 2px;
	block-size: 25vh;
	inset-block-start: 0;
	inset-inline-start: calc(calc(0.5rem / 2) * -1);
}

@media (min-width: 480px) {
	.grid-item {
		padding: 1rem;
	}
}

@media (min-width: 768px) {
	.grid-item {
		padding: 2rem;
	}

	.grid-skills {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
}

@media (min-width: 1024px) {
	.grid-item {
		padding: 4rem;
	}
}
